<div class="main-block">
  <h1>Hello, <%= @user.name %> <% if @user.admin %> (Admin) <% end %></h1>
</div>

<div class="notifications">
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <div class="center"> <%= flash[:notice] %> </div>
    </div>
  <% end %>
</div>

<div class="main-block">
  <h2>Edit Your Profile: </h2>
</div>

<img class="images" src="<%= @user.image_url(:profile) %>">

<div class="main-block">
  <%= bootstrap_form_for @user, url: {action: "update"} do |f| %>
    <%= f.file_field :image, label: "Update Profile Picture" %>

    <% if @user.email %>
      <%= f.email_field :email %>
      <% unless @user.confirmed %>
        <div class="alert alert-warning" role="alert">
          Unconfirmed email address.
        </div>
      <% end %>
    <% else %>
      <%= f.email_field :email, placeholder: "Email unconfirmed" %>
    <% end %>

    <% if @user.admin == false %>
      <%= f.check_box :admin, label: "Request admin status (email required)" %>
    <% elsif (@user.admin == nil) %>
      <div class="alert alert-warning" role="alert">
        Your admin request has been received and will be evaluated.
      </div>
    <% end %>

    <%= f.submit class: "btn btn-default", value: "Update Account"%> <%= link_to "Delete Your Account", users_delete_path, method: :delete, class: "btn btn-default" %>

  <% end %>



  <% if @user.admin %>
    <% if @users.length > 0 %>
    <hr>
      <h3>Admin candidates:</h3>
      <% @users.each do |user| %>
        <%= user.name %>
        <%= link_to "Make admin", adminify_path(user.id), class: "btn btn-default" %>
        <%= link_to "Deny request", deny_request_path(user.id), class: "btn btn-default" %><br>
      <% end %>
    <% end %>
  <% end %>
</div>
