<div class="main-block">
  <h1>My Events</h1>
</div>


<% if @events.any? %>
  <% @events.each do |event| %>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4 ">
        <img class="sub-images" src="<%= event.activity.image %>">
      </div>
      <div class="col-lg-10 col-md-10 col-sm-9 col-xs-8">
        <div class="main-block">
          <%= link_to event_show_path(event.id) do %>
            Event: <%= event.activity.name %><br>
            Created by: <%= event.user.name %><br>
            Time: <%= event.date_time_start %> -
            <%= event.date_time_end %><br>
            Description: <%= event.activity.description %>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
<% else %>
  <div class="main-block">
    You have no events to show
  </div>
<% end %>
