<h1>My Events</h1>

<% @events.each do |event| %>
  <hr>
  <%= event.activity.name %>
  <img src="<%= event.activity.image_url %>" height="125px">
  Time: <%= event.date_time_start %> -
  <%= event.date_time_end %>
  <%= event.activity.description %>
<% end %>
