<h2><%= @event.activity.name %></h2>
<img src="<%= @event.activity.image_url %>" height="125px">
Time: <%= @event.date_time_start %> -
<%= @event.date_time_end %>
<br>
<br>
<%= simple_format(@event.description) %>

<br>

<% if (@event.user_id == current_user.id) %>

  <%= link_to "Edit #{@event.activity.name}", event_edit_path(@event), class:"btn btn-default" %>
  <%= link_to "delete", event_destroy_path(@event), class: "btn btn-danger", onclick: "myFunction(event)" %>
<% end %>
<%= link_to "View All Events", events_path, class:"btn btn-default" %>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target='#inviteFriends'>
  Invite friends
</button>

<div class="modal fade" id=inviteFriends tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= bootstrap_form_for(@event, url: event_invite_create_path(:id =>@event.id), method: :post, layout: :inline) do |f| %>
          Invite stuff
          <ul>
            <% @user.friendships.each_with_index do |friendship, index| %>
              <li>
                <%= check_box_tag("event[invites]["+index.to_s+"]", friendship.friend_id.to_s, @event.invites.select{|invite| invite.guest_id == friendship.friend_id}.length > 0) %>
                <%= friendship.friend.name %>
              </li>
            <% end %>
          </ul>
          <br><br>
          <hr>
          <!--  f.select :guests_ids, User.all.collect {|x| [x.name, x.id]}, {}, :multiple => true -->
          <%= f.submit "Save", class: "btn btn-default"%>
        <% end %>
      </div>
    </div>
  </div>
</div>

<h3> Invitees </h3>
<br>
<% @event.invites.each_with_index do |invite| %>
  <%= invite.guest.name %>
  <%= invite.status %><br>
<% end %>
<br>
