<h2><%= @event.activity.name %></h2>
<img src="<%= @event.activity.image_url %>" height="125px">
Created by <%= @event.user.name %><br>
Time: <%= @event.date_time_start %> -
<%= @event.date_time_end %>
<br>
<br>
<%= simple_format(@event.description) %>

<br>

<% if (@event.user_id == current_user.id) %>

  <%= link_to "Edit #{@event.activity.name}", event_edit_path(@event), class:"btn btn-default" %>
  <%= link_to "delete", event_destroy_path(@event), class: "btn btn-danger", onclick: "myFunction(event)" %>
<% end %>

<%= link_to "View All Events", events_path, class:"btn btn-default" %>

<h3> Invitees </h3>


  <button type="button" class="btn btn-primary" data-toggle="modal" data-target='#inviteFriends'>
    Invite friends
  </button>

  <div class="modal fade" id=inviteFriends tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Invite Friends</h4>
        </div>
        <div class="modal-body">
          <%= bootstrap_form_for(@event, url: event_invite_create_path(:id =>@event.id), method: :post, layout: :inline) do |f| %>
            <ul>
              <% @user.friendships.each_with_index do |friendship, index| %>

                  <%= check_box_tag("event[invites]["+index.to_s+"]", friendship.friend_id.to_s, @event.invites.select{|invite| invite.guest_id == friendship.friend_id}.length > 0) %>
                  <%= friendship.friend.name %><br>

              <% end %>
            </ul>
            <br><br>
            <hr>
            <!--  f.select :guests_ids, User.all.collect {|x| [x.name, x.id]}, {}, :multiple => true -->
            <%= f.submit "Save", class: "btn btn-default"%>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<br>
<br>
<% if (@invite) %>
  <div class="dropdown">

    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      <%= @invite.status %>
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li><%= bootstrap_form_for(@invite, url: invite_update_path(@invite)) do |invite| %>
        <%= invite.hidden_field :status, :value => "Going" %>
        <%= invite.submit "Going" %>
      <% end %></li>
      <li><%= bootstrap_form_for(@invite, url: invite_update_path(@invite)) do |invite| %>
        <%= invite.hidden_field :status, :value => "Maybe" %>
        <%= invite.submit "Maybe" %>
      <% end %></li>
      <li><%= bootstrap_form_for(@invite, url: invite_update_path(@invite)) do |invite| %>
        <%= invite.hidden_field :status, :value => "Not Going" %>
        <%= invite.submit "Not Going" %>
      <% end %></li>
    </ul>
  </div>
<% end %>
<br>
<% if (@invites.any?) %>
  <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal1">
    <%= @going_invites.length %> Going
  </button>
  <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal2">
    <%= @maybe_invites.length %> Maybe
  </button>
  <button type="button" class="btn btn-primary " data-toggle="modal" data-target="#myModal3">
    <%= @not_yet_invites.length %> Not Yet Responded
  </button>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal4">
    <%= @not_going_invites.length %> Not Going
  </button>
<% end %>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Going</h4>
      </div>
      <div class="modal-body">
        <% @going_invites.each do |invite| %>
          <%= invite.guest.name %><br>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Maybe</h4>
      </div>
      <div class="modal-body">
        <% @maybe_invites.each do |invite| %>
          <%= invite.guest.name %><br>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Not Yet Responded</h4>
      </div>
      <div class="modal-body">
        <% @not_yet_invites.each do |invite| %>
          <%= invite.guest.name %><br>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Not Going</h4>
      </div>
      <div class="modal-body">
        <% @not_going_invites.each do |invite| %>
          <%= invite.guest.name %><br>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
