<h2>All Activities</h2>
<% @activities.each do |activity| %>
  <hr>
  <%= activity.name %>
  <img src="<%= activity.image_url %>" height="125px">
  <%= activity.description %>
  <% if current_user %>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target='#createEvent'>
      Create an Event
    </button><br><br>

    <!-- Modal -->
    <div class="modal fade" id=createEvent tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <%= bootstrap_form_for(@event, url: event_create_path) do |f| %>
              <%= f.hidden_field :activity_id, :value => activity.id %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.datetime_select :date_time_start, label: "Start Time"%>
              <%= f.datetime_select :date_time_end, label: "End Time"%>
              <%= f.submit "Save", class: "btn btn-default"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  <% end %>

<% end %>
