<div class="main-block">
  <h1>Find an Activity</h1>
</div>
<div class="main-block">
  <%= bootstrap_form_for @activity, url: {action: "results"}, layout: :horizontal, label_col: "col-lg-2 col-md-2 col-sm-2", control_col: "col-sm-4" do |f| %>
    <br>
    <%= f.number_field :max_price, prepend: "$", append: ".00"  %>
    <%= f.hidden_field :min_activity_level, :id => "min_activity_level" %>
    <%= f.hidden_field :max_activity_level, :id => "max_activity_level" %>
    <div class="activity-text">Activity Level</div>
    <div class="slider-snap"></div>
    <span class="min-example-val" id="slider-snap-value-lower"></span>
    <br>
    <span class="max-example-val" id="slider-snap-value-upper"></span>
    <br><br>

    <%= f.submit "Submit" %>
    <%= link_to "See All Activities", activities_path, class:"btn btn-default" %>

  <% end %>

  <%= javascript_include_tag 'jquery.nouislider.all.min' %>
  <%= javascript_include_tag 'slider' %>
  <%= stylesheet_link_tag    'jquery.nouislider.min', media: 'all', 'data-turbolinks-track' => true %>


</div>
