<div class="main-block">
  <h1>Your Search Terms:</h1>
</div>
<div class="main-block">
  Maximum Price: <%=@query["activity"]["max_price"]%> <br>
  Activity Level Range: <%= @query["activity"]["min_activity_level"]%> - <%= @query["activity"]["max_activity_level"] %>
</div>

<div class="main-block">
  <h1>Your Top Results:</h1>
</div>

<% if @activities.any? %>
  <% @activities.each_with_index do |activity, i| %>
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs ">
      <img class="sub-images" <img class="sub-images" src="<%= activity.image %>">
    </div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
      <div class="main-block">
        <h2><%= link_to activity.name, "#{activity.url}", :target => '_blank' %></h2><br>
        Price Range: $<%= activity.min_price %>.00 - $<%= activity.max_price %>.00 <br>
        Description: <%= activity.description %>

        <% if current_user %>
          <br>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target='#createEvent<%=i%>'>
            <i class="fa fa-calendar"></i> Create an Event
          </button>
          <%= link_to "See Activity", activity_show_path(activity), class:"btn btn-default" %><br>


          <!-- Modal -->
          <div class="modal fade" id=createEvent<%=i%> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                  <%= bootstrap_form_for(@event, url: event_create_path) do |f| %>
                    <%= f.hidden_field :activity_id, :value => activity.id %>
                    <%= f.hidden_field :user_id, :value => current_user.id %>
                    <%= f.text_area :description, label: "Description" %>
                    <%= f.datetime_select :date_time_start, label: "Start Time"%>
                    <%= f.datetime_select :date_time_end, label: "End Time"%>
                    <%= f.submit "Save", class: "btn btn-default"%>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
      <% end %>
  <% end %>
<% else %>
  <div class="main-block">
    Sorry! We couldn't find any matches for you! <%= link_to 'Try again!', activities_query_path %>
  </div>
<% end %>
