
<div class="full-browser-option">

<!-- ........................start div both row.......................... -->
  <div class="large-display row">

<!-- ........................this col contains the yield (10).................... -->
    <div class="col-lg-10 col-md-9 col-sm-8">
      <%= yield %>
    </div>

<!-- ........................this col contains the sidebar (2).................... -->
    <div class="sidebar-2 col-lg-2">
      <sidebar>
        <% if current_user %>
          <div style="background-image: url('<%= current_user.image_url (:thumb) %>')" >
        <% else %>
          <div class = "nav-profile">
        <% end %>
          <% if current_user %>
            <%= link_to user_show_path(current_user.id) do %>
              <div class="side-nav" >
                <i class="fa fa-user"></i> Profile
              </div>
            <% end %>
          <% else %>
            <%= link_to '/auth/google_oauth2' do %>
              <div class="side-nav">
                <i class="fa fa-user"></i> Profile
              </div>
            <% end %>
          <% end %>
        </div><br>

        <% if current_user %>
          <div style="background-image: url('<%= current_user.image_url (:sidebar) %>')" >
        <% else %>
          <div class = "nav-events">
        <% end %>
          <% if current_user %>
            <%= link_to events_path do %>
              <div class="side-nav">
                <i class="fa fa-calendar"></i> Events
              </div>
            <% end %>
          <% else %>
            <%= link_to '/auth/google_oauth2' do %>
              <div class="side-nav">
                <i class="fa fa-calendar"></i> Events
              </div>
            <% end %>
          <% end %>
        </div><br>

        <% if current_user %>
          <div style="background-image: url('<%= current_user.image_url (:profile) %>')" >
        <% else %>
          <div class = "nav-friends">
        <% end %>
          <% if current_user %>
            <%= link_to friendship_path do %>
              <div class="side-nav">
                <i class="fa fa-users"></i> Friends
              </div>
            <% end %>
          <% else %>
            <%= link_to '/auth/google_oauth2' do %>
              <div class="side-nav">
                <i class="fa fa-users"></i> Friends
              </div>
            <% end %>
          <% end %>
        </div><br>
      </sidebar>
  </div>

  </div>
<!-- ......................../end div for both row....................... -->

</div>
<!-- ......................../end div for full-browser option.................... -->
