<!DOCTYPE html>
<html>
<head>
  <title>WatDoSeattle22</title>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->

  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>

</head>
<!-- = watDoModule -->
<body data-ng-app="myApp">

  <div class="container">

    <h1>Wat Do? Seattle</h1>

    <!-- Button trigger modal -->
    <%= link_to 'Sign In', "#", data: {toggle: "modal", target: "#myModal"} %>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Sign In</h4>
          </div>
          <div class="modal-body">
            <% if @current_user %>
              <!-- <li><%= link_to "Sign Out", session_path(session[:user_id]), method: :delete  %> <span class="sr-only">(current)</span></li> -->
              SIGNED IN
            <% else %>
              <!-- <li><%= link_to 'Sign In With Twitter', 'auth/twitter' %> <span class="sr-only">(current)</span></li> -->
              SIGN IN
            <% end %>

            <%= bootstrap_form_for @user, url: users_path do |f| %>
              <%= f.text_field :name %>
              <%= f.email_field :email %>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit "Log In" %>
          <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= yield %>

  </div>
</body>
</html>
