<!DOCTYPE html>
<html>
<head>
  <title>WatDoSeattle22</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body >
  <br>

  <div class="row">
    <div class="rainbow-row">
      <div class="col-sm-1" style="background-color:#f49ac2;"></div>
      <div class="col-sm-1" style="background-color:#8882be;"></div>
      <div class="col-sm-1" style="background-color:#8493ca;"></div>
      <div class="col-sm-1" style="background-color:#7ea7d8;"></div>
      <div class="col-sm-1" style="background-color:#6ecff6;"></div>
      <div class="col-sm-1" style="background-color:#7bcdc8;"></div>
      <div class="col-sm-1" style="background-color:#82ca9d;"></div>
      <div class="col-sm-1" style="background-color:#c4df9b;"></div>
      <div class="col-sm-1" style="background-color:#fff79a;"></div>
      <div class="col-sm-1" style="background-color:#fdc68a;"></div>
      <div class="col-sm-1" style="background-color:#f9ad81;"></div>
      <div class="col-sm-1" style="background-color:#f7977a;"></div>
    </div>
  </div>

  <div class="container">

    <!-- navigation bar -->
    <div class="row">
      <div class="col-lg-12">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <div class="wat-do-logo"><a class="navbar-brand" href="<%=root_path%>"><div class="black"> Wat Do? </div> <div class="gray"> [Seattle]</div></a></div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a class="navbar-nav" href="<%=activities_query_path%>"><i class="fa fa-binoculars"></i> Find an Activity!</a>
                <% if current_user && current_user.admin %>
                  <li><a class="navbar-nav" href="<%=activity_new_path%>"><i class="fa fa-pencil-square-o"></i> Suggest an Activity!</a>
                <% end %>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <% if current_user %>
                  <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-exclamation-circle"></i> Notifications</a>
                    <ul class="dropdown-menu" role="menu">
                      <% if @notifications != nil %>
                        <% @notifications.each do |notification| %>
                          <li><a href="<%=event_show_path(notification.event_id)%>"><%= notification.description %></a></li>
                        <% end %>
                        <li class="divider"></li>
                      <% end %>
                      <li><a href="<%= notifications_path %>">See all</a></li>
                    </ul>
                  </li>
                  <li>
                    <a class="nav navbar-nav" href="<%=signout_path%>"><i class="fa fa-sign-out"></i> Sign Out</a>
                  </li>
                <% else %>
                  <li>
                    <a class="nav navbar-nav" href="/auth/google_oauth2"><i class="fa fa-sign-in"></i> Sign In</a>
                  </li>
                <% end %>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>



    <div class="row all-stuff">


      <div class="sidebar-2     hidden-lg   hidden-md  col-sm-12  col-xs-12">
        <div class="row">
          <div class="col-sm-4 col-xs-4">
            <div class="top-block"><i class="fa fa-user"></i>
              <% if current_user %>
                <%= link_to 'Profile', users_edit_path(current_user)%>
              <% else %>
                <%= link_to 'Profile', '/auth/google_oauth2' %>
              <% end %>
            </div>
          </div>
          <div class="col-sm-4 col-xs-4">
            <div class="top-block"><i class="fa fa-calendar"></i>
              <% if current_user %>
                <%= link_to 'Events', events_path %>
              <% else %>
                <%= link_to 'Events','/auth/google_oauth2'%>
              <% end %>
            </div>
          </div>
          <div class="col-sm-4 col-xs-4">
            <div class="top-block"><i class="fa fa-users"></i>
              <% if current_user %>
                <%= link_to 'Friends', friendship_path %>
              <% else %>
                <%= link_to 'Friends', '/auth/google_oauth2' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>


      <div class="              col-lg-10   col-md-10   col-sm-12   col-xs-12">
          <%= yield %>
      </div>


      <div class="sidebar-2     col-lg-2   col-md-2   hidden-sm   hidden-xs">
        <sidebar>
          <% if current_user %>
            <div style="background-image: url('<%= current_user.image_url (:thumb) %>')" >
          <% else %>
            <div class = "nav-profile">
          <% end %>
            <% if current_user %>
              <%= link_to users_edit_path(current_user) do %>
                <div class="side-nav" >
                  <i class="fa fa-user"></i> Profile
                </div>
              <% end %>
            <% else %>
              <%= link_to '/auth/google_oauth2' do %>
                <div class="side-nav">
                  <i class="fa fa-user"></i> Profile
                </div>
              <% end %>
            <% end %>
            </div><br>

          <% if current_user %>
            <div style="background-image: url('<%= current_user.image_url (:sidebar) %>')" >
          <% else %>
            <div class = "nav-events">
          <% end %>
            <% if current_user %>
              <%= link_to events_path do %>
                <div class="side-nav">
                  <i class="fa fa-calendar"></i> Events
                </div>
              <% end %>
            <% else %>
              <%= link_to '/auth/google_oauth2' do %>
                <div class="side-nav">
                  <i class="fa fa-calendar"></i> Events
                </div>
              <% end %>
            <% end %>
            </div><br>

          <% if current_user %>
            <div style="background-image: url('<%= current_user.image_url (:profile) %>')" >
          <% else %>
            <div class = "nav-friends">
          <% end %>
            <% if current_user %>
              <%= link_to friendship_path do %>
                <div class="side-nav">
                  <i class="fa fa-users"></i> Friends
                </div>
              <% end %>
            <% else %>
              <%= link_to '/auth/google_oauth2' do %>
                <div class="side-nav">
                  <i class="fa fa-users"></i> Friends
                </div>
              <% end %>
            <% end %>
            </div><br>
          </sidebar>
        </div>

    </div>

<!-- container -->
  </div>

  <br>
  <div class="row">
    <div class="rainbow-row-2">
      <div class="col-sm-1" style="background-color:#f49ac2;" > </div>
      <div class="col-sm-1" style="background-color:#8882be;"></div>
      <div class="col-sm-1" style="background-color:#8493ca;"></div>
      <div class="col-sm-1" style="background-color:#7ea7d8;"></div>
      <div class="col-sm-1" style="background-color:#6ecff6;"></div>
      <div class="col-sm-1" style="background-color:#7bcdc8;"></div>
      <div class="col-sm-1" style="background-color:#82ca9d;"></div>
      <div class="col-sm-1" style="background-color:#c4df9b;"></div>
      <div class="col-sm-1" style="background-color:#fff79a;"></div>
      <div class="col-sm-1" style="background-color:#fdc68a;"></div>
      <div class="col-sm-1" style="background-color:#f9ad81;"></div>
      <div class="col-sm-1" style="background-color:#f7977a;"></div>
    </div>
  </div>
  <br>

</body>
</html>
